#root .main {
	max-width: 77.5rem;
	margin: 0 auto;
	margin-top: 4.38rem;
	color: black;
}

.h1 {
	color: #000;
	font-family: var(--DM-sans);
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 700;
	margin-left: 2rem;
}
