header {
  background-image: url("../../assets/john-wick.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 90rem;
  height: 37.5rem;
  flex-shrink: 0;
}

nav {

  height: 5rem;
  flex-shrink: 0;
  background-color: rgb(116, 116, 116);
}

.header-container {
  margin-left: 5.94rem;
  border: 1px solid red
}