.description-box-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 2px solid white;
  width: 25.3rem;
  height: 17.8rem;
  margin-top: 4.88rem
}


.description-title h1 {
  color: #FFF;
  font-family: var(--DM-sans);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 2px;
}

.description-rating {
  display: flex;
  gap: 2.12rem
}

.description-rating .rating-svg {
  display: block;
  max-width: 100%;
}

.description-rating>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.63rem
}

.description-rating .rating-score {
  color: #FFF;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;

}