@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../../assets/john-wick.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 90rem;
  height: 37.5rem;
}

.header-container {
  margin-left: 5.94rem;
}

.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6.12rem;
}

/* LOGO */

.logo {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  position: relative;
}

.logo .tv {
  height: 50px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.logo .text-wrapper {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* SEARCH INPUT */

.form-search {
  position: relative;
  width: 43%;
  max-width: 33.125rem;
}

.search-input {
  width: 100%;
  padding: 0.375rem 0.625rem;
  background: transparent;
  border-radius: 0.375rem;
  border: 2px solid #D1D5DB;
  color: white;
  outline-color: white
}

.search-input::placeholder {
  color: white;
  font-family: var(--DM-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.search-button {
  display: block;
  background: transparent;
  border: unset;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* MENU */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.69rem
}

.menu-text {
  color: #ffffff;
  font-family: var(--DM-sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.menu-button {
  background-color: #be123c;
  border-radius: 18px;
  height: 36px;
  position: relative;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* DESCRIPTION */

.description-box-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  /* border: 1px solid white; */
  width: 25.3rem;
  height: 18rem;
  margin-top: 4.88rem
}


.description-title h1 {
  color: #FFF;
  font-family: var(--DM-sans);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 2px;
}

.description-rating {
  display: flex;
  gap: 2.12rem
}

.description-rating .rating-svg {
  display: block;
  max-width: 100%;
}

.description-rating>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.63rem
}

.description-rating .rating-score {
  color: #FFF;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;

}

.description-text p {
  color: #FFF;
  font-family: var(--DM-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  width: 100%;
  max-width: 18.875rem;
}

.description-button {
  border-radius: 0.375rem;
  background: var(--rose-700, #BE123C);
  display: flex;
  padding: 0.375rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border: none;
  color: white
}

.description-button p {
  color: var(--white, #FFF);
  font-family: var(--DM-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
}