@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

.logo {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  position: relative;
}

.logo .tv {
  height: 50px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.logo .text-wrapper {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}