 .menu {}

 .text-wrapper-5 {
   color: #ffffff;
   font-family: "DM Sans", Helvetica;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 0;
   line-height: 24px;
   position: relative;
   white-space: nowrap;
   width: fit-content;
 }

 .menu-alt-wrapper {
   background-color: #be123c;
   border-radius: 18px;
   height: 36px;
   position: relative;
   width: 36px;
 }

 .menu-alt {
   height: 24px !important;
   left: 6px !important;
   position: absolute !important;
   top: 6px !important;
   width: 24px !important;
 }