.movie-backdrop {
  height: 28.0625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  margin-top: 2.38rem;
  border-radius: 1.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.movie-backdrop img {
  border-radius: 1.25rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.play-button {
  width: 6.875rem;
  height: 6.875rem;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red */
}

.play-button button {
  background: transparent;
  border: none;

}

.play-button::after {
  content: "Watch Trailer";
  position: absolute;
  width: max-content;
  bottom: -2.96rem;
  left: 50%;
  transform: translateX(-50%);

  color: #E8E8E8;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--Poppins);
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}