.side-bar {
	color: black;
	border: 2px solid black;
	height: 100%;
	min-height: 100vh;
	border-radius: 0rem 2.8125rem 2.8125rem 0rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding-top: 3.25rem;
	width: 15.8%;
	max-width: 203px;
	position: absolute;
	/* z-index: 999;
	background-color: white; */
}

@media screen and (max-width: 900px) {
	.side-bar {
		max-width: 12%;
	}
}

@media screen and (max-width: 802px) {
	.side-bar {
		display: none;
	}
}

.side-bar .logo {
	width: 11.6rem;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
	.side-bar .logo {
		width: 100%;
		justify-content: center;
	}
}

.side-bar .text-wrapper {
	color: #333;
	font-family: var(--DM-sans);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5rem;
}

@media screen and (max-width: 1280px) {
	.side-bar .text-wrapper {
		display: none;
	}
}

.side-links {
	margin-top: 4.81rem;
}

.side-links-li {
	display: flex;
	width: 100%;
	height: 5.375rem;
	background: transparent;
}

.side-links-a {
	text-decoration: unset;
	color: #666;
	font-family: var(--Poppins);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.94rem;
	padding-left: 2.62rem;
	border-right: 6px solid transparent;
	transition: all 200ms ease;
}

.side-links-a.active {
	background: rgba(190, 18, 60, 0.1);
	border-right: 6px solid #be123c;
	color: #be123c;
}

.side-links-a.active > img {
	transform: scale(1.2);
}

.side-links-a:hover {
	background: rgba(190, 18, 60, 0.1);
	border-right: 6px solid #be123c;
	color: #be123c;
}

.side-links-a > img {
	transition: all 200ms ease;
}

.side-links-a:hover > img {
	transform: scale(1.2);
}

.side-links-a:visited {
	text-decoration: unset;
}

.side-links-svg {
	width: 1.5625rem;
	height: 1.5625rem;
}

@media screen and (max-width: 1300px) {
	.side-links-a > p {
		font-size: 1rem;
		/* display: none; */
	}
}

@media screen and (max-width: 1130px) {
	.side-links-svg {
		transform: scale(0.9);
	}

	.side-links-a {
		padding-left: 1rem;
	}
}

@media screen and (max-width: 1000px) {
	.side-links-a {
		gap: 0.6rem;
	}

	.side-links-a:hover > img {
		transform: scale(0.9);
	}

	.side-links-a.active > img {
		transform: scale(1);
	}
}

@media screen and (max-width: 900px) {
	.side-links-a {
		justify-content: center;
		padding-left: unset;
	}
	.side-links-a > p {
		display: none;
	}
}
